NEXT_PUBLIC_SITE_URL=https://vowels.org
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-8993150621101210
NEXT_PUBLIC_ADSENSE_ADTEST=off
NEXT_PUBLIC_ADSENSE_SLOT_DEFAULT=

NEXT_PUBLIC_ADSENSE_SLOT_HOMEPAGE_LEADERBOARD=
NEXT_PUBLIC_ADSENSE_SLOT_SIDEBAR_RECTANGLE=
NEXT_PUBLIC_ADSENSE_SLOT_SIDEBAR_HALF_PAGE=
NEXT_PUBLIC_ADSENSE_SLOT_INFEED=
NEXT_PUBLIC_ADSENSE_SLOT_CONTENT_PARTNER=
NEXT_PUBLIC_ADSENSE_SLOT_MOBILE_ANCHOR=

NEXT_PUBLIC_ADSENSE_SLOT_CATEGORY_LEADERBOARD=
NEXT_PUBLIC_ADSENSE_SLOT_CATEGORY_INGRID=
NEXT_PUBLIC_ADSENSE_SLOT_CATEGORY_BOTTOM=

NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_TOP=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_MID=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_PRE_SOURCE=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_EXIT=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_POST=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_SIDEBAR_RECTANGLE=
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_SIDEBAR_HALF_PAGE=
